.m-listing-wrapper
  background: $lighter-gray
  padding: 25px 0

.m-listing
  .m-listing-item
    @include span-columns(3)
    @include omega(4n)
    @include border-top-radius(3px)
    @include border-bottom-radius(3px)
    background: white
    border-top: 6px solid $light-gray
    margin-bottom: $b-space
    padding-top: $b-space
    position: relative

    .title, .image
      padding: 0 $b-space

    .price, .add-to-cart
      text-align: right

    .add-to-cart,
    .select-variant,
    .dropdown-wrapper .dropdown-container
      width: 100%

    .title
      min-height: 50px

    .image
      display: block
      margin: $b-space 0
      min-height: 205px

    .price
      padding: 0 1em
      margin-bottom: .5em

    .add-to-cart,
    .select-variant
      float: left

      .button
        @include border-top-radius(0)
        @include border-bottom-radius(3px)
        width: 100%

    .add-to-cart
      text-align: right

      .button
        background: $medium-green

    .select-variant
      .button
        background: $medium-gray

      .presentation
        @include border-top-radius(5px)
        @include border-bottom-radius(5px)
        background: $medium-gray
        color: white
        display: inline-block
        height: 20px
        line-height: 20px
        margin-right: 5px
        padding: 0 5px
        text-align: center

      &.is-selected
        width: 50%

        .button
          background: $blue
          border-bottom-right-radius: 0

    .dropdown-wrapper
      bottom: -85px
      left: 0
      position: absolute
      width: 100%
      z-index: $stratum-lowest

    .with-variants
      .add-to-cart
        width: 50%

        .button
          border-bottom-left-radius: 0

