h1(ng-bind="pageTitle")

ng-include(src="'products/list.html'" when-scrolled='loadNextPage()')

.products-loading(ng-show='fetching')

.no-more(ng-show='products.length > 0 && loadingComplete')
  | {{:: 'products.loading_complete' | translate }}
