h1(ng-bind="pageTitle")

ng-include(src="'products/list.html'"
  infinite-scroll='loadNextPage()'
  infinite-scroll-disabled='loadingComplete || fetching')

/nav
/  ul.pagination.pagination-lg(ng-if="products.length > 0")
/    li.previous(ng-class="{disabled: currentPage == 1}")
/      a(ng-click='loadPreviousPage()')
/        | {{:: 'nav.previous' | translate }}
/
/    li.page(ng-repeat='page in pageList' ng-class="{active: page==currentPage}")
/      a(ng-bind='page' ng-click='loadPage(page)')
/
/    li.next(ng-class="{disabled: loadingComplete}")
/      a(ng-click='loadNextPage()')
/        | {{:: 'nav.next' | translate }}
