@import "bootstrap-sass-official/bootstrap-sprockets";
@import "sprangular/config";
@import "bootstrap-sass-official";
@import "font-awesome";
@import "angular-motion";
@import "bootstrap-additions";

body {
  padding: 70px 0 0 0;
}

.row.no-padding {
  [class*="col-"] {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

.img-responsive {
  width: 100%;
}

.navbar-brand img {
  max-height: 25px;
}

a {
  cursor: pointer;
}

.btn.add-to-cart {
  span {
    display: inline-block;
  }
  .caption {
    margin-right: 5px;
    font-weight: bold;
  }
}

#signin {
  nav a {
    display: block;
  }
}

#initializing {
  text-align: center;
}

.aside {
  width: 100%;
}

td {
  &.number {
    text-align: right;
  }

  .total & {
    font-weight: bold;
  }
}

footer {
  background: $gray;
  color: $gray-light;
  padding: 10px 5px 5px;

  a {
    color: $gray-light;
    font-weight: bold;

    &:hover {
      color: #fff;
    }
  }

  .dynamo {
    .level1, .level2, .level3 {
      text-align: center;
    }
    span {
      display: inline-block;
      padding: 0px 6px;
      font-weight: bolder;
    }
  }
}

form {
  p.error {
    color: $brand-danger;
  }
}

/* Sticky footer styles
-------------------------------------------------- */
$footer-height: 80px;

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: $footer-height;
}

#wrap {
  padding-bottom: 20px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: $footer-height;
}

.product-listing {
  .product {
    text-align: center;

    .hover {
      width: 100%;
      height: 100%;
      position: absolute;
      padding: 15px;
      display: none;
    }

    &:hover {
      img {
        opacity: 0.4;
      }
      .hover {
        display: block;
      }
    }
  }
}

.checkout-nav {
  .stripe {
    background: $gray-lighter;
    height: 6px;
    position: absolute;
    margin-top: 17px;
    width: 90%;
    z-index: -1;
  }

  nav {
    a {
      text-decoration: none;
      display: inline-block;
      width: 33%;
      text-align: center;

      &:first-child {
        text-align: left;
      }

      &:last-child {
        text-align: right;
      }
    }

    &.details a.details, &.confirm a.confirm, &.done a.done {
      .number {
        background: $brand-info;
        color: $body-bg;
      }
      .caption {
        color: $brand-info;
      }
    }

    &.confirm {
      a.details .number {
        background: $brand-success;
        color: $body-bg;
      }
    }

    &.done {
      a.details, a.confirm {
        .number {
          background: $brand-success;
          color: $body-bg;
        }
      }
    }
  }

  span.caption {
    display: block;
    margin: 0px auto;
    color: $gray;
  }

  span.number {
    display: inline-block;
    color: $gray-light;
    background: $gray-lighter;
    padding: 10px 16px;
    border-radius: 50%;
    width: auto;
  }
}

.btn {
  .caption {
    border-right: solid 2px rgba($body-bg, 0.4);
    padding-right: 7px;
  }

  &.btn-default {
    .caption {
      border-right-color: rgba($gray-dark, 0.5);
    }
  }
}

a.cart-link.visible-xs {
  float: right;
  padding: 15px;
}

@media (min-width: $screen-sm-min) {
  .aside {
    width: 50%;
  }
}
