body {
  padding: 70px 0 0 0;
}

.navbar-brand img {
  max-height: 25px;
}

a {
  cursor: pointer;
}

.btn.add-to-cart {
  span {
    display: inline-block;
  }
  .caption {
    margin-right: 5px;
    font-weight: bold;
  }
}

#signin {
  nav a {
    display: block;
  }
}

#initializing {
  text-align: center;
}
