.flexi.row(ng-repeat="type in ad_hoc" class="{{type.name}}")
  p
    |{{type.option_type.presentation}}
  .option(ng-repeat="option in type.ad_hoc_option_values")
    input(type="radio"
          name="option.name"
          id="{{option.name}}"
          ng-value="option.option_type_id")
    label(for="{{option.name}}"
          ng-bind="option.presentation")

.flexi.row(ng-repeat="type in custom" class="{{type.name}}")
  p
    |{{type.description}}
  .option
    input(type="radio"
          name="type.name"
          id="{{type.name}}"
          ng-value="type.id")
    label(for="{{type.name}}")
      input(type="text"
            name="{{type.name}}"
            value=""
            placeholder="{{type.presentation}}")
