<!DOCTYPE html>
<html>
<head>
  <title>Sprangular</title>
  <%= stylesheet_link_tag    "sprangular/application", media: "all" %>
  <%= javascript_include_tag "sprangular/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
