#checkout-details
  padding: 100px 0

  h1
    margin-bottom: 20px

  h4
    margin-bottom: 10px

  #{$all-text-inputs}
    width: 100%


  #credit-card
    .cc-number
      margin-right: 10px

    .cc-cvv
      a
        margin-left: 5px

    .cc-date
      .fl
        margin-right: 10px

  #summary
    border-bottom: 1px solid $light-gray
    margin-bottom: 20px

  #promo-entry
    .entry
      border-bottom: 1px solid $lighter-gray
      margin-bottom: 20px